.chpcs_foo_content img {

    max-width: 260px;
}

.chpcs_image_carousel .chpcs_prev, .chpcs_image_carousel .chpcs_next {

    background: rgba(168, 32, 32, 0);

    color: rgb(0, 0, 0);

    font-size: 64px;

    line-height: 71px;

    width: 74px;

    height: 74px;

    margin-top: -64px;

}

.chpcs_image_carousel.chpcs_prev:hover, .chpcs_image_carousel .chpcs_next:hover {

    color: rgb(170, 170, 170);

}

#wa_chpcs_pager a {

    background: rgb(170, 170, 170);

}

a.eg-henryharrison-element-1, a.eg-henryharrison-element-2 {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear
}

.eg-jimmy-carter-element-11 i:before {
    margin-left: 0px;
    margin-right: 0px
}

.eg-harding-element-17 {
    letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px
}

.eg-harding-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.eg-richard-nixon-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px
}

.eg-richard-nixon-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

.eg-monroe-element-1 {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-media img {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img, .eg-howardtaft-wrapper .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.eg-howardtaft-wrapper:hover .esg-entry-media img, .eg-howardtaft-wrapper:hover .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.myportfolio-container .added_to_cart.wc-forward {
    font-family: "Open Sans";
    font-size: 13px;
    color: #fff;
    margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
    font-size: 15px;
    font-weight: 700;
    text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center
}

.buildpress .navigationbuttons, .buildpress .esg-pagination, .buildpress .esg-filters {
    text-transform: uppercase;
    text-align: center
}

.buildpress .esg-filterbutton, .buildpress .esg-navigationbutton, .buildpress .esg-sortbutton, .buildpress .esg-cartbutton {
    position: relative;
    color: #999999;
    cursor: pointer;
    z-index: 2;
    padding: 14px 30px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: block
}

.buildpress .esg-navigationbutton {
    position: relative;
    padding: 12px 0;
    text-align: center;
    width: 50%;
    background-color: #333333
}

.buildpress .esg-navigationbutton.esg-right {
    z-index: 0;
    border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px
}

.buildpress .esg-navigationbutton.esg-left {
    border-bottom-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px
}

.buildpress .esg-navigationbutton.esg-left::after {
    position: absolute;
    content: "";
    height: 48px;
    width: 1px;
    background-color: #454545;
    right: 0;
    top: -3px;
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg)
}

.buildpress .esg-navigationbutton * {
    color: #999999
}

.buildpress .esg-pagination-button:last-child {
    margin-right: 0
}

.buildpress .esg-sortbutton-wrapper, .buildpress .esg-cartbutton-wrapper {
    display: inline-block
}

.buildpress .esg-sortbutton-order, .buildpress .esg-cartbutton-order {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    margin-left: 5px
}

.buildpress .esg-cartbutton {
    color: #fff;
    cursor: default !important
}

.buildpress .esg-cartbutton .esgicon-basket {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px
}

.buildpress .esg-cartbutton-wrapper {
    cursor: default !important
}

.buildpress .esg-sortbutton, .buildpress .esg-cartbutton {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.buildpress .esg-filterbutton:hover, .buildpress .esg-sortbutton:hover, .buildpress .esg-sortbutton-order:hover, .buildpress .esg-cartbutton-order:hover, .buildpress .esg-filterbutton.selected {
    color: #ffffff;
    background: #454545;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none
}

.buildpress .esg-navigationbutton:hover span, .buildpress .esg-filterbutton:hover span, .buildpress .esg-sortbutton:hover span, .buildpress .esg-sortbutton-order:hover span, .buildpress .esg-cartbutton-order:hover span, .buildpress .esg-filterbutton.selected span {
    display: inline-block;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    border-bottom: 3px solid #f7c525;
    padding-bottom: 3px;
    padding-top: 6px
}

.buildpress .esg-navigationbutton span, .buildpress .esg-filterbutton span, .buildpress .esg-sortbutton span, .buildpress .esg-sortbutton-order span, .buildpress .esg-cartbutton-order span {
    display: inline-block;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 3px;
    padding-top: 6px
}

.buildpress .esg-filterbutton:hover::after, .buildpress .esg-sortbutton:hover::after, .buildpress .esg-sortbutton-order:hover::after, .buildpress .esg-cartbutton-order:hover::after, .buildpress .esg-filterbutton.selected::after {
    display: none
}

.buildpress .esg-navigationbutton:hover * {
    color: #ffffff
}

.buildpress .esg-sortbutton-order.tp-desc:hover {
    color: #333
}

.buildpress .esg-filter-checked {
    padding: 1px 3px;
    color: #cbcbcb;
    background: #cbcbcb;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}

.buildpress .esg-filterbutton.selected .esg-filter-checked, .buildpress .esg-filterbutton:hover .esg-filter-checked {
    padding: 1px 3px 1px 3px;
    color: #fff;
    background: #000;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}

.buildpress .esg-filter-wrapper {
    background-color: #333333;
    width: 100%;
    border-bottom-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px
}

@media (min-width: 992px) {
    .buildpress .esg-filterbutton::after, .buildpress .esg-sortbutton::after, .buildpress .esg-cartbutton::after {
        position: absolute;
        content: "";
        height: 66px;
        width: 1px;
        background-color: #454545;
        right: 0;
        top: -4px;
        transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -webkit-transform: rotate(30deg)
    }

    .buildpress .esg-filterbutton, .buildpress .esg-navigationbutton, .buildpress .esg-sortbutton, .buildpress .esg-cartbutton {
        display: inline-block
    }

    .buildpress .esg-navigationbutton:hover span, .buildpress .esg-filterbutton:hover span, .buildpress .esg-sortbutton:hover span, .buildpress .esg-sortbutton-order:hover span, .buildpress .esg-cartbutton-order:hover span, .buildpress .esg-filterbutton.selected span {
        transform: skewX(30deg);
        -moz-transform: skewX(30deg);
        -webkit-transform: skewX(30deg)
    }

    .buildpress .esg-filterbutton:hover, .buildpress .esg-sortbutton:hover, .buildpress .esg-sortbutton-order:hover, .buildpress .esg-cartbutton-order:hover, .buildpress .esg-filterbutton.selected {
        transform: skewX(-30deg);
        -moz-transform: skewX(-30deg);
        -webkit-transform: skewX(-30deg)
    }

    .buildpress .esg-navigationbutton {
        width: 80px
    }

    .buildpress .esg-filter-wrapper {
        text-align: center
    }
}

.buildpress .esg-pagination-button.selected {
    transform: none;
    -moz-transform: none;
    -webkit-transform: none
}

.buildpress .esg-pagination-button:hover {
    transform: none;
    -moz-transform: none;
    -webkit-transform: none
}

.eg-buildpress-item-skin-element-1 {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    float: none;
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 4px 12px 3px 12px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 2 !important;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-transform: capitalize
}

.eg-buildpress-item-skin-element-0 {
    font-size: 12px !important;
    line-height: 30px !important;
    color: #454545 !important;
    font-weight: 800 !important;
    padding: 3px 10px 2px 10px !important;
    border-radius: 2px 2px 2px 2px !important;
    background-color: rgba(247, 197, 30, 1.00) !important;
    z-index: 2 !important;
    display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important
}

.eg-buildpress-item-skin-element-0:hover {
    font-size: 12px !important;
    line-height: 30px !important;
    color: #333333 !important;
    font-weight: 800 !important;
    border-radius: 2px 2px 2px 2px !important;
    background-color: rgba(232, 185, 28, 1.00) !important;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important
}
.eg-buildpress-item-skin-element-0-a {
    display: inline-block !important;
    float: none !important;
    clear: both !important;
    margin: 0px 0px 0px 0px !important;
    position: relative !important
}
.eg-buildpress-item-skin-container {
    background-color: rgba(10, 10, 10, 0.75)
}
.eg-buildpress-item-skin-content {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: transparent;
    border-style: none;
    text-align: center
}
.esg-grid .mainul li.eg-buildpress-item-skin-wrapper {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-radius: 2px 2px 2px 2px;
    border-color: #000000;
    border-style: none;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

#fsb-social-bar {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding: 10px 0;
    margin: 0px 0 20px 0;
    float: left;
    background: #fff;
    position: relative;
    clear: both;
}

#fsb-social-bar a {
    border: 0px !important
}

#fsb-social-bar.fsb-fixed {
    position: fixed;
    top: -2px;
    z-index: 99999;
}

#fsb-social-bar .fsb-title {
    display: block;
    float: left;
    margin: 3px 20px 0 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333;
}

#fsb-social-bar .fsb-share-facebook {
    width: 120px;
    float: left;
    padding: 3px 0 2px;
    height: 25px;
}

#fsb-social-bar .fsb-share-facebook.fsb-hide-count {
    width: 44px;
    overflow: hidden;
    margin-right: 30px;
}

#fsb-social-bar .fsb-share-twitter {
    float: left;
    width: 135px;
    padding: 3px 0 2px;
    height: 25px;
}

#fsb-social-bar .fsb-share-twitter.fsb-hide-count {
    width: 61px;
    overflow: hidden;
    margin-right: 30px;
}

#fsb-social-bar .fsb-share-google {
    float: left;
    width: 105px;
    padding: 3px 0 2px;
    height: 25px;
}

#fsb-social-bar .fsb-share-google.fsb-hide-count {
    width: 33px;
    overflow: hidden;
    margin-right: 30px;
}

#fsb-social-bar .fsb-share-linkedin {
    float: left;
    width: 135px;
    padding: 3px 0 2px;
    height: 25px;
}

#fsb-social-bar .fsb-share-linkedin.fsb-hide-count {
    width: 61px;
    overflow: hidden;
    margin-right: 30px;
}

#fsb-social-bar .fsb-share-pinterest {
    float: left;
    width: 115px;
    padding: 3px 0 2px;
    height: 25px;
}

#fsb-social-bar .fsb-share-pinterest.fsb-hide-count {
    width: 43px;
    overflow: hidden;
    margin-right: 30px;
}

#fsb-social-bar .socialite {
    display: block;
    position: relative;
    background: url(http://newstarland.com/wp-content/plugins/floating-social-bar/images/fsb-sprite.png) no-repeat scroll 0 0;
}

#fsb-social-bar .socialite-loaded {
    background: none !important;
}

#fsb-social-bar .fsb-service-title {
    display: none;
}

#fsb-social-bar a {
    color: #333;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#fsb-social-bar .fsb-twitter {
    width: 105px;
    height: 25px;
    background-position: -13px -10px;
    line-height: 25px;
    vertical-align: middle;
}

#fsb-social-bar .fsb-twitter .fsb-count {
    width: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 69px;
    color: #333;
}

#fsb-social-bar .fsb-google {
    width: 75px;
    height: 25px;
    background-position: -136px -10px;
    line-height: 25px;
    vertical-align: middle;
}

#fsb-social-bar .fsb-google .fsb-count {
    width: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 41px;
    color: #333;
}

#fsb-social-bar .fsb-google .socialite-button {
    margin: 0 !important;
}

#fsb-social-bar .fsb-share-google .socialite-loaded .socialite-button {
    padding: 2px 0 0
}

#fsb-social-bar .fsb-facebook {
    width: 89px;
    height: 25px;
    background-position: -231px -10px;
    line-height: 25px;
    vertical-align: middle;
}

#fsb-social-bar .fsb-facebook .fsb-count {
    width: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 52px;
    color: #333;
}

#fsb-social-bar .fsb-facebook .socialite-button {
    margin: 0 !important;
}

#fsb-social-bar .fsb-share-facebook .socialite-loaded .socialite-button {
    padding: 2px 0 0
}

#fsb-social-bar .fsb-linkedin {
    width: 105px;
    height: 25px;
    background-position: -347px -10px;
    line-height: 25px;
    vertical-align: middle;
}

#fsb-social-bar .fsb-linkedin .fsb-count {
    width: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 70px;
    color: #333;
}

#fsb-social-bar .fsb-linkedin .socialite-button {
    margin: 0 !important;
}

#fsb-social-bar .fsb-pinterest {
    width: 88px;
    height: 25px;
    background-position: -484px -10px;
    line-height: 25px;
    vertical-align: middle;
}

#fsb-social-bar .fsb-pinterest .fsb-count {
    width: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 0 0 50px;
    color: #333;
}

#fsb-social-bar .fsb-pinterest .socialite-button {
    margin: 0 !important;
}

.fsb-clear {
    clear: both;
}

.fsb-clear:after {
    clear: both;
    content:;
    display: block;
    height: 0;
    line-height: 0;
    overflow: auto;
    visibility: hidden;
    zoom: 1;
}

@media (max-width: 768px) {
    #fsb-social-bar.fsb-fixed {
        position: relative !important;
        top: auto !important;
    }
}